body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: aqua;
}

.column {
  display: flex;
  gap: 10px ;
}

ul li {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  padding-left: 20px;
  align-self: center;
  list-style: none;
  width: 200px;
  height: 20px;
  /* background-color: bisque; */
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* .calculator {
  width: 600px;
  height: 700px;
  border-radius: 10px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 450px;
  height: 50px;
}

.buttons {
  margin-top: 20px;
  width: 450px;
  height: 500px;
  background-color: white;
}
button {
  width: 150px;
  height: 100px;
}

#space {
  margin-left: 150px;
} */
